{% extends 'game_server/base.html' %}

{% block content %}
  <h2>Owned Games</h2>
  
  {% if purchased_games %}
  {% for entry in purchased_games %}
    <div onClick="gameMenuToggler({{forloop.counter0}})" class="game-list-container">
      <div class="store-image-container">
          <img src="{{ entry.game.image.url }}" alt="" />
      </div>
      <div class="store-product-title">
        {{ entry.game.game_name }}
      </div>
			<div class="store-product-details">Click for details</div>
			<div class="game-list-menu" id="gamemenu{{forloop.counter0}}">
				<h3>{{entry.game.game_name}} ({{entry.game.category}})</h3>
				<hr />
				<table class="game-list-stats">
					<tr>
						<td>Date purchased:</td>
						<td>{{entry.purchase_time|date:"F j, Y"}}</td>
					</tr>
					<tr>
						<td>Personal highscore:</td>
						<td>{{entry.high_score}}</td>
					</tr>
					<tr>
						<td>Global highscore:</td>
						<td>{{entry.game.high_score}}</td>
					</tr>
				</table>
				<a href="{% url 'playgame' gameid=entry.game.pk %}" class="storebutton">Play</a>
				{% if entry.game.active %}
				<a href="{% url 'gamestorepage' gameid=entry.game.pk %}" class="storebutton">Store page</a>
				{% endif %}
			</div>
    </div>
  {% endfor %}
  
  {% else %}
  <p>You don't have any games yet. Go <a href="{% url 'store' %}">buy</a> some!</p>
  {% endif %}
{% endblock %}